# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Prismatik_Daemon/v17
/x64/Debug
/Prismatik_Daemon.vcxproj.user
/Prismatik_Daemon.vcxproj.filters
/Prismatik_Daemon.vcxproj
/.vs/Prismatik_Daemon/FileContentIndex/read.lock
/.vs/Prismatik_Daemon/FileContentIndex/cd5d5129-6f29-4ae6-b92a-8eaa2457123a.vsidx
/.vs/Prismatik_Daemon/FileContentIndex
/x64/Release
